<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>country-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Country Name</ion-label>
      <div slot="end">{{country.name.common}}</div>
    </ion-item>
    <ion-item>
      <ion-label>Capital</ion-label>
      <div slot="end">{{country.capital}}</div>
    </ion-item>
    <ion-item>
      <ion-label>Flag</ion-label>
      <div slot="end">{{ country.flag }}</div>
    </ion-item>
  </ion-list>
</ion-content>
