<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>country-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Country Name</ion-label>
      <div slot="end">asdf</div>
    </ion-item>
    <ion-item>
      <ion-label>Population</ion-label>
      <div slot="end">0</div>
    </ion-item>
    <ion-item>
      <ion-label>Currency</ion-label>
      <div slot="end">EUR</div>
    </ion-item>
  </ion-list>
</ion-content>
