<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Countries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Countries</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<div>
    {{ countries$ | async | json }}
  </div>
  -->

  <ion-list>
    <ion-card [routerLink]="['/tabs/tab1/country-detail', country.name.common]"
      [button]="true" *ngFor="let country of countries$ | async">
      <img alt="Country Flag" style="width:100%" src="{{country.flags.svg}}" />
      <ion-card-header>
        <ion-card-title class="ion-text-center">{{country.name.common}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>
